.pv-container
  background #f1f1f1
  max-width $siteWith
  margin 150px auto

.section
  padding 0

.section__title
  max-width  100%
  background #d8d8d8
  padding 5px 15px

.section__content
  padding 30px 80px

.section__field
  display flex
  flex-flow row
  align-items center
  margin 0 0 12px 0

  .input-name
    font-size 13px
    font-weight 500

  .select,
  .vertical-inputs,
  .input-group,
  .input
    width 100%
    max-width 195px

  > *
    flex 1
    margin 0

.section__edit-btn
  max-width 95px
  margin-right 100px

.transfer-via .section__field .select,
.transfer-via .section__field .vertical-inputs,
.transfer-via .section__field .input
  min-width 195px

.transfer-includes .section__field .select
  //max-width 80px

.section__field.align-items-top
  align-items flex-start

.vertical-inputs
  padding-top 3px

.left-column
  display: flex
  flex-direction column
  justify-content flex-start

  > *
    width: 100%

.margin-top-auto
  margin auto 0 0 0

.horizontal-inputs
  display flex
  align-items baseline
  max-width 195px
  justify-content flex-start

.submit-form
  text-align center

  button
    width 150px
    margin 15px 0 30px 0

.calendar-icon
  max-height 28px
  padding: 3px 5px

.section__detail-box
  flex 2
  padding 15px
  background #fff
  border solid 1px #d8d8d8

.client-info .right-column .section__detail-box
  flex 1
  width 195px
  padding 5px

.client-info .right-column .section__field:last-child
  padding-top 10px

.client-info .right-column .section__detail-box textarea
  width 100%

.find-licence:focus,
.find-licence:hover,
.find-licence
  display block
  margin-right -28px
  width 40px
  flex 0
  border none
  background transparent url("/images/loupe.svg") no-repeat
  background-size 18px
  background-position center
  z-index 10

#zip-address,
#client-address
  font-size 12px

.boxes
  display: grid
  grid-gap: 1rem
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr))


.transaction-rights-table,
.transaction-rights-table td,
.transaction-rights-table th,
.dealer-info-table,
.dealer-info-table td,
.dealer-info-table th,
.car-info, .car-info td, .car-info th
  background transparent
  border none

.transaction-rights-table td,
.transaction-rights-table th,
.release-info-table td,
.release-info-table th,
.dealer-info-table td,
.car-info td
  width 25%
  padding 5px 0
  font-size 13px

.dealer-info-table td
  vertical-align top

.transaction-rights-table
  max-width 75%
  margin 0 auto

.transaction-rights-table td,
.transaction-rights-table th,
.release-info-table td,
.release-info-table th
  padding 8px

.transaction-rights-table > tbody th,
.release-info-table th
  font-weight:500

.transaction-rights-table th,
.transaction-rights-table td,
.release-info-table td
  text-align center

.transaction-rights-table > tbody td,
.transaction-rights-table > tbody th
  background #fff
  border solid 1px #d8d8d8

.transaction-rights-table > tbody th
  background #f8f9fa

.transaction-rights-table tfoot
  font-weight 500

.transaction-rights-table td.transaction-total
  text-align right
  text-transform uppercase
  line-height 24px
